@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url("components/container.css");
@import url("components/discover.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Lora', serif;
	font-size: 18px;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin:0px; 
}

a {
	text-decoration: none;
}

.card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    margin-bottom: 30px
}

.container {
    margin-top: 50px;
}

.typeform-container {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
}

.typeform-container iframe {
    width: 100%;
    height: 700px;
    border: none;
}